body,.container{
/*    border: 1px solid grey;*/
}
.box{
    background-color: dodgerblue;
    min-height: 200px;
    margin-bottom: 20px;
}


.col-sm-9,.col-8,.col-4,.col-sm-1,.col-auto,.col-md-4,.col-md-3,.col-md-6,.col-sm-4,.col-4,.col-md-8,.col-6,.col-sm,.col-md-auto, .col,.col-sm,.col-md,.col-lg,.col-xl{
    background-color: aliceblue;
    border: 1px solid grey; 
    padding: 10px;
    
}

.row{
    margin-bottom: 10px;
}
.height{
    min-height: 200px;
    background-color: #d5ebfe;
}
.font-custom{
    font-size: 1.2rem;
}




























#heading{
    background-color: white;
    border: none;
    
}
